#container-home {
    position: absolute;
    width: 100%;
    top: 54px;
}

.icon-conquest {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("../images/conquista.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container-button a {
    background-color: #fff;
    border-radius: 32px;
}

.container-button .label-link {
    display: block;
    background-color: transparent;
    text-align: center;
}

.icon-running {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 0px;
    background-image: url("../images/btn-icon-corredor.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 54px;
}

.icon-weight {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 0px;
    background-image: url("../images/btn-icon-peso.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}

.icon-meal {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 0px;
    background-image: url("../images/btn-icon-refeicao.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 54px;
}