.icon-conquest {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("../images/conquista.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container-button a {
    background-color: #fff;
    border-radius: 32px;
}

.container-button .label-link {
    display: block;
    background-color: transparent;
    text-align: center;
}