<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/commom/form.css">
    <link rel="stylesheet" href="../css/commom/icons.css">
    <link rel="stylesheet" href="../css/commom/animation.css">
    <script src="../js/jquery/jquery.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <title>Home</title>
</head>

<body>
    <div class="container-fluid h-100 p-0">
        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <div class="d-flex justify-content-center mx-auto container-menu-message">
                    <h5>Olá, user name :D</h5>
                </div>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark">
                    <ul class="menu-option p-0">
                        <li><a href="running.html">Corrida</a></li>
                        <li><a href="meal.html">Refeição</a></li>
                        <li><a href="weight.html">Peso</a></li>
                        <li><a href="login.html">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-logged mt-2">

            <div class="container-fluid w-100">
                <div class="row align-content-center align-items-center">
                    <div class="card-home col-10 offset-1 col-md-5 offset-md-1 p-3 mb-3">
                        <h6 class="text-center">Parabéns!</h6>
                        <p class="text-center">Aqui estão suas conquistas da última semana:</p>
                        <div class="container-info p-3">
                            <div class="row">
                                <div class="col-8">
                                    <p>Perdemos 1,2 Kg</p>
                                    <p>Corremos 17,2 Km</p>
                                    <p>A dieta não foi quebrada</p>
                                </div>
                                <div class="col-4">
                                    <span class="icon-conquest"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-home col-10 offset-1 col-md-5 offset-md-0 ml-md-3 p-3 mb-3">
                        <h6 class="text-center">O show não pode parar</h6>
                        <p class="text-center">Que tal atualizarmos nossas conquistas?</p>
                        <div class="p-3">
                            <div class="row align-content-center align-items-center">
                                <div class="col-4 d-flex justify-content-center">
                                    <div class="container-button">
                                        <a href="running.html" id="running" name="running" class="icon-running"></a>
                                        <a href="running.html" class="label-link">Corrida</label>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <div class="container-button">
                                        <a href="weight.html" id="weight" name="weight" class="icon-weight"></a>
                                        <a href="weight.html" class="label-link">Refeição</label>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <div class="container-button">
                                        <a href="meal.html" id="meal" name="meal" class="icon-meal"></a>
                                        <a href="meal.html" class="label-link">Peso</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>