<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/commom/form.css">
    <link rel="stylesheet" href="../css/commom/animation.css">
    <script src="../js/jquery/jquery.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <title>Refeição</title>
</head>

<body>
    <div class="container-fluid container-logged p-0">

        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <div class="d-flex justify-content-center mx-auto container-menu-message">
                    <h5>Refeição</h5>
                </div>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark">
                    <ul class="menu-option p-0">
                        <li><a href="running.html">Corrida</a></li>
                        <li><a href="meal.html">Refeição</a></li>
                        <li><a href="weight.html">Peso</a></li>
                        <li><a href="login.html">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid p-0 top-to-botton-animate">
            <div class="row justify-content-center align-items-center m-0 mt-2 h-100">
                <section class="container-form form-green col-10 col-md-6 mb-2">
                    <div class="form-group">
                        <div class="col-12">
                            <h5 class="text-center">Registrar refeição</h5>
                        </div>
                        <div class="col-12">
                            <h6 class="text-center">Informe o alimento e a quantidade de calorias</h6>
                        </div>
                    </div>
                    <form action="meal-list.html" method="GET">
                        <div class="form-group form-group-custom col-lg-10 offset-lg-1">
                            <div class="row filds-custom justify-content-center align-items-center">
                                <div class="col-10">
                                    <div class="filds">
                                        <input type="text" id="food" name="food">
                                        <label for="food">Nome do alimento</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-custom col-lg-10 offset-lg-1">
                            <div class="row filds-custom justify-content-center align-items-center">
                                <div class="col-8">
                                    <label for="kcal">Quantidade de calorias</label>
                                </div>
                                <div class="col-4 col-md-2">
                                    <div class="row">
                                        <a href="#" class="btn-control btn-more"> </a>
                                    </div>
                                    <div class="row">
                                        <input type="text" id="kcal" name="kcal" value="0" class="field">
                                    </div>
                                    <div class="row">
                                        <a href="#" class="btn-control btn-less"> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-10 offset-lg-1 mt-3">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#" class="btn-control btn-cancel"> </a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="btn-control btn-save float-right" href="">
                                        <input type="submit" value="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="row justify-content-center align-items-center m-0 mt-2">
                <div class="container-form col-6 col-md-4 mb-2 p-0">
                    <div class="btn-control container-btn-view-list">
                        <a href="meal-list.html">Ver Refeições</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>