<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/commom/form.css">
    <link rel="stylesheet" href="../css/commom/icons.css">
    <link rel="stylesheet" href="../css/commom/animation.css">
    <script src="../js/jquery/jquery.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <title>Suas Corridas</title>
</head>

<body>
    <div class="container-fluid container-logged p-0">

        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <div class="d-flex justify-content-center mx-auto container-menu-message">
                    <h5>Suas Corridas</h5>
                </div>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark">
                    <ul class="menu-option p-0">
                        <li><a href="running.html">Corrida</a></li>
                        <li><a href="meal.html">Refeição</a></li>
                        <li><a href="weight.html">Peso</a></li>
                        <li><a href="login.html">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="container-fluid p-0 top-to-botton-animate">
            <div class="row justify-content-center align-items-center m-0 mt-2 h-100">
                <div class="container-form form-green col-10 col-md-5 col-lg-4 mb-2 p-4">
                    <div class="form-group p-2 my-auto">
                        <div class="row text-center">
                            <div class="col p-0">
                                <p>Distância percorrida: 5 km</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col p-0">
                                <p>Com o tempo de: 30 min</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="icon-list icon-running float-right"></span>
                            </div>
                            <div class="col">
                                <p>Data: 30/12/2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-form form-green col-10 col-md-5 col-lg-4 ml-2 mb-2 p-4">
                    <div class="form-group p-2 my-auto">
                        <div class="row text-center">
                            <div class="col p-0">
                                <p>Distância percorrida: 5 km</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col p-0">
                                <p>Com o tempo de: 30 min</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="icon-list icon-running float-right"></span>
                            </div>
                            <div class="col">
                                <p>Data: 30/12/2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center m-0 mt-2 h-100">
                <div class="container-form form-green col-10 col-md-5 col-lg-4 mb-2 p-4">
                    <div class="form-group p-2 my-auto">
                        <div class="row text-center">
                            <div class="col p-0">
                                <p>Distância percorrida: 5 km</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col p-0">
                                <p>Com o tempo de: 30 min</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="icon-list icon-running float-right"></span>
                            </div>
                            <div class="col">
                                <p>Data: 30/12/2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-form form-green col-10 col-md-5 col-lg-4 ml-2 mb-2 p-4">
                    <div class="form-group p-2 my-auto">
                        <div class="row text-center">
                            <div class="col p-0">
                                <p>Distância percorrida: 5 km</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col p-0">
                                <p>Com o tempo de: 30 min</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="icon-list icon-running float-right"></span>
                            </div>
                            <div class="col">
                                <p>Data: 30/12/2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>